<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
  <% @user.attachments.build %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |user| %>
      <%= render 'shared/error_messages' %>
      <%= user.label :name %>
      <%= user.text_field :name %>

      <%= user.label :email %>
      <%= user.text_field :email %>

      <%= user.label :password %>
      <%= user.password_field :password %>

      <%= user.label :password_confirmation, "Confirmation" %>
      <%= user.password_field :password_confirmation %>

      <%= user.fields_for :attachments, :html => { :multipart => true } do |attachment| %>
        <%= attachment.label :catagory, "Catagory" %>
        <%= attachment.text_field :catagory %>
        
        <%= attachment.file_field :avatar %>
      <% end %>
      <%= user.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
