<%= form_for([@user,Attachment.new], :html => { :multipart => true }) do |attachment| %>
  <%= attachment.label :category, "Category" %>
  <%= attachment.text_field :category %>



  <%= attachment.file_field :avatar %>
  <div class="actions">
    <%= attachment.submit %>
  </div>
<% end %>
