<div class="row">
  <aside class="span4">
    <section>
      <%= will_paginate @users%>
      <ul class='users'>
        <% @users.each do |user| %>
          <li>
            <%= gravatar_for user, size: 52 %>
            <% if user == @user %>
              <%= link_to user.name, users_attachments_all_path(user), {:class => "current-link"}%>
            <% else %>
              <%= link_to user.name, users_attachments_all_path(user) %>              
            <% end %>

          </li>        
        <% end %>
      </ul>
        <%= will_paginate @users%>
    </section>
  </aside>
  <div class="span8">
      <% if @attachments ==[] %>
        <% flash.now[notice] = "The book list is empty" %>
      <% end %>
        <table class="table table-striped fixed">
          <thead>
            <tr>
              <th>File Name</th>
              <th>Size</th>
              <th>Owner</th>
              <th>Category</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <%= render @attachments %> 
          </tbody>
        </table>
  </div>
</div>
