<% if @attachments ==[] %>
  <% flash.now[notice] = "The book list is empty" %>
<% else %>
  <table class="table table-striped fixed">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Size</th>
        <th>Owner</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @attachments %> 
    </tbody>
  </table>
<% end %>

<%= link_to 'Add a new file', new_user_attachment_path(@user) %>
<%= link_to "All users' books", users_attachments_all_path %>
<div class="btn-group">
  <button class="btn"><%= link_to 'Add a new file', new_user_attachment_path(@user) %></button>
  <button class="btn"><%= link_to "All users' books", users_attachments_all_path %></button>
</div>
